<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "UTF-8">
    <title>Test Index Page</title>
    <link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/style.css') }}" />
</head>
<body>
    <h1>Index Page</h1>
    <form action="{{ url_for('search') }}" method = "post">
        <input type="text" placeholder="input fristname" name = "firstname">
        <input type="text" placeholder="input lastname" name = "lastname">
        <input type="submit" value="search">
    </form>

    <br>
    <br>

    {% for gps_record in gps_record_list %}
        <p>--------------------------------------</p>
        <p>timestamp: {{ gps_record.timestamp }}</p>
        <p>latitude: {{ gps_record.latitude }}</p>
        <p>longtitude: {{ gps_record.longtitude }}</p>
    {% endfor %}
</body>
</html>